services:
  video-converter:
    build: .
    entrypoint: ["python3"]
    command:
      - /script.py
    volumes:
      - ./script.py:/script.py:ro
      - /mnt/cold/public/videos:/data:rw
    working_dir: /data
    environment:
      - PYTHONUNBUFFERED=1 # Ensure Python output is not buffered
