services:
  video-converter:
    image: jrottenberg/ffmpeg:7.1-ubuntu-edge
    entrypoint: ["/bin/bash", "-c"]
    command:
      - |
        python3 /script.py > /logs/video-management.log 2> /logs/video-management.error
    volumes:
      - ./script.py:/script.py:ro
      - /mnt/cold/public/videos:/data:rw
      - ./logs:/logs:rw
    working_dir: /data
    environment:
      - PYTHONUNBUFFERED=1 # Ensure Python output is not buffered
    logging:
      driver: "local"
      options:
        max-size: "10m"
        max-file: "3"
