persistence:
  defaultClassReplicaCount: 2
  reclaimPolicy: Retain
  dataEngine: v2
  defaultDataLocality: strict-local
csi:
  attacherReplicaCount: 1
  provisionerReplicaCount: 1
  resizerReplicaCount: 1
  snapshotterReplicaCount: 1
longhornUI:
  replicas: 1
defaultSettings:
  defaultReplicaCount: 2
  replicaAutoBalance: best-effort
