apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: umami
  namespace: umami
spec:
  serviceName: umami
  selector:
    matchLabels:
      app: umami
  replicas: 1
  template:
    metadata:
      labels:
        app: umami
    spec:
      containers:
      - name: umami
        image: ghcr.io/umami-software/umami:postgresql-v2.20.2 # {"$imagepolicy": "umami:umami"}
        ports:
        - containerPort: 3000
          livenessProbe:
            initialDelaySeconds: 30
            httpGet:
              path: /api/heartbeat
              port: 3000
        env:
        - name: HOSTNAME
          value: 0.0.0.0
        # - name: FORCE_SSL
        #   value: "0"
        - name: DISABLE_TELEMETRY
          value: "1"
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: umami
              key: DATABASE_URL
