# information about parameters can be found here: https://manpages.ubuntu.com/manpages/kinetic/en/man5/smb.conf.5.html

[global]
  workgroup = WORKGROUP
  server string = %h server (Samba, Ubuntu)
  log file = /var/log/samba/log.%m
  max log size = 1000
  logging = file
  panic action = /usr/share/samba/panic-action %d

  server role = standalone server
  obey pam restrictions = yes
  unix password sync = yes
  passwd program = /usr/bin/passwd %u
  passwd chat = *Enter\snet\s*\spassword:* %n\n *Retype\snew\s*\spassword:* %n\n *password\supdated\ssuccessfully* .
  map to guest = bad user

  usershare allow guests = no

  server min protocol = SMB3_11
  server smb encrypt = if_required

{% for publicshare in publicshares %}
[{{ publicshare }}]
  path = /mnt/cold/{{ publicshare }}
  writable = yes
  browsable = yes
  guest ok = yes

  create mask = 777 # 'AND' aka maximum
  force create mode = 666 # 'OR' aka minimum
  directory mode = 777 # 'AND' aka maximum
  force directory mode = 777 # 'OR' aka minimum

  server smb encrypt = required
{% endfor %}

{% for usershare in usershares %}
[{{ usershare }}]
  path = /mnt/cold/{{ usershare }}
  writable = yes
  browsable = yes
  guest ok = no
  valid users = %S

  create mask = 744 # 'AND' aka maximum
  force create mode = 644 # 'OR' aka minimum
  directory mode = 755 # 'AND' aka maximum
  force directory mode = 755 # 'OR' aka minimum

  server smb encrypt = required
{% endfor %}
