# Update packages
- apt:
    update_cache: yes # Run apt-get update
    cache_valid_time: 3600 # Only update apt-cache if last update was at least 3600s ago
- apt:
    name: "*" # Apply to all packages
    state: latest # Update packages
- apt:
    upgrade: dist # Update OS
- apt:
    autoremove: yes # Remove unused packages
    purge: true # Remove configuration files of unused packages

# Secure the system
- package:
    name:
      - ufw
- ufw: # refuse connections from IP addresses that attempt to log in or connect more than 6 times in 30 seconds
    rule: limit
    port: ssh
    proto: tcp
- ufw: # allow connections from private ips
    rule: allow
    src: '{{ item }}'
  loop:
    - 10.0.0.0/8
    - 172.16.0.0/12
    - 192.168.0.0/16
- ufw: # allow connections to port 80
    rule: allow
    port: 80
    proto: tcp
- ufw: # allow connections to port 443
    rule: allow
    port: 443
    proto: tcp
- ufw: # enable firewall, deny by default
    state: enabled
    policy: deny

- lineinfile: # limit journald log size to 1G
    path: /etc/systemd/journald.conf
    regexp: '^SystemMaxUse'
    insertafter: '^#SystemMaxUse'
    line: 'SystemMaxUse=1G'

# Add current user to sudoers
- user:
    name: "{{ ansible_user_id }}"
    groups: sudo
    append: yes

# System basics
- package:
    name:
      - git
      - curl
    state: present

# Download infra repository
- git:
    repo: https://github.com/thetillhoff/infra
    dest: ./infra
    force: yes # discard local changes
    single_branch: yes
    version: main
