- name: Blackhole configuration
  # hosts: blackhole # use this for remote execution
  hosts: localhost # use this for local execution
  connection: local # use this for local execution

  #####

  # Requirements:
  # - python installed -> `sudo apt-get install -y python3`
  # - passwordless sudo

  roles:
    - basic
    - fileserver-blackhole
    - disk-spindown
