# website
:80 {
  redir /setup-debian-desktop.sh https://gist.githubusercontent.com/thetillhoff/38b109abe1782708c0059f7f99e1426f/raw/setup-debian-desktop.sh
  redir /setup-debian-server.sh https://gist.githubusercontent.com/thetillhoff/f235212d541e866bf68225c3989e47dd/raw/setup-debian-server.sh
}

# healtchcheck
:8080 {
  respond "I'm healthy!"
}
