# website
:80 {
  respond / "/debian-desktop
/debian-server
/cheatsheet" 200

  redir /debian-desktop https://gist.githubusercontent.com/thetillhoff/38b109abe1782708c0059f7f99e1426f/raw/setup-debian-desktop.sh

  redir /debian-server https://gist.githubusercontent.com/thetillhoff/f235212d541e866bf68225c3989e47dd/raw/setup-debian-server.sh

  redir /cheatsheet https://gist.github.com/thetillhoff/e19ffed34f4b441ed8b598087b74a7da
}

# healtchcheck
:8080 {
  respond 200
}
